@font-face {
    font-family: 'voltaire'; /* Choose a name for your font */
    src: url('../fonts/Voltaire-Regular.ttf') format('woff');
    /*src: url('../fonts/Roboto-Regular.ttf') format('woff');*/
    /* You can include additional formats as needed */
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

html, body , ul{
margin: 0; 
padding: 0; 
font-family: "voltaire";

}

input, select, option {
  font-family: "voltaire";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: green; 
  background-color: aliceblue; 
  padding: 0.5rem; 
}


#iconeUl {
  margin: 10% auto;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

#iconeUl > li {
  flex:1; 
  justify-content: center;
  display: flex;
}

#iconeUl > li > i {
  font-size: 2rem;
}

.grid-section{
  display: grid;
  grid-template-columns: 30% 1fr 30%;
}

.padding-grid {
  flex: 1; 
  width: 20%;
  height: max-content;
}






.annoncesDiv{
  display: flex;
  flex-direction: column;
  gap: 2%;
}

#annoncesDiv{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%; 
}

.annonceLink {
  margin: 1px 0;
  width: 45%;
  background-color: aliceblue;
  color: black; 
  padding: .5rem;
  display: flex; 
  min-height: 8vh;
  text-decoration: none;
  position: relative;
  justify-content: center;
  align-items: center;
  border: .1px solid lightgray;
}

.annonceLink:hover{
  background-color: antiquewhite;
}




.lieuSpan{
  text-decoration: none;
  font-size: 0.5rem;
  position: absolute;
  bottom: .1vh;
   
}
 
.dateSpan{
  position: absolute;
  font-size: .5rem;
  right: 1vw;
}

.depSpan{
  position: absolute;
  left: 1vw;
  top: .5vh;
  font-size: .7rem; 
}


.contratSpan{
  position: absolute;
  top: 5; 
  font-size: small;
  right: 1vw; 
}

.professionSpan{
  color: gray; 
}

.searchForm {
  display: flex;
  flex-direction: column;
}

footer {
  
  background-color: aliceblue;
  height: 20vh;
}



@media (min-width: 900px) and (max-width: 1200px) {
    
    
  .grid-section{
    display: grid;
    grid-template-columns: 15fr 70fr 15fr ;
    
  }




  }

@media (max-width: 900px) {
    
    
  .grid-section{
    display: grid;
    grid-template-columns: 10fr 80fr 10fr ;
    
  }
  
  #locationDiv > input {
    width: 10vw;
    height: 5vh;
    font-size: 2rem;
    text-align: center;
    
  }



  }