@font-face {
    font-family: 'voltaire'; /* Choose a name for your font */
    src: url('../fonts/Voltaire-Regular.ttf') format('woff');
    /*src: url('../fonts/Roboto-Regular.ttf') format('woff');*/
    /* You can include additional formats as needed */
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

html, body , ul{
margin: 0; 
padding: 0; 
font-family: "voltaire";

}

input, select, option {
  font-family: "voltaire";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: rgb(66, 76, 179); 
  background-color: aliceblue; 
  padding: 0.5rem; 
  margin: auto;
}





.grid-section{
  display: grid;
  grid-template-columns: 30% 1fr 30%;
}

.padding-grid {
  flex: 1; 
  width: 20%;
  height: max-content;
}


#formDiv {
  margin-top: 1rem;
  background-color: beige;
  padding: 2rem; 
  height: 20vh;
}
#videoIdForm {
  height: 10vh;
  display: flex;
  padding: 2rem;
  gap: .3rem;
  flex-direction: column;
  justify-content: center;
  
}

#videoIdForm > label {
  font-size: 1.3rem;
}

#videoIdInput {
  width: 60%;
}

#videoIdForm > button {
  width:30%;
  font-family: voltaire;
  font-weight: 200;
  font-size: 1rem;
  padding: .5rem 1rem;
}
footer {
  background-color: aliceblue;
  height: 20vh;
}



@media (min-width: 900px) and (max-width: 1200px) {
    
    
  .grid-section{
    display: grid;
    grid-template-columns: 15fr 70fr 15fr ;
    
  }




  }

@media (max-width: 900px) {
    
    
  .grid-section{
    display: grid;
    grid-template-columns: 10fr 80fr 10fr ;
    
  }
  
  #locationDiv > input {
    width: 10vw;
    height: 5vh;
    font-size: 2rem;
    text-align: center;
    
  }



  }