{{template "base" .}}

{{define "content"}}
  

            <div></div>
                <h1> Youtube to mp3 </h1>
                <form id="videoIdForm" hx-post="/video/id">
                    <label> Enter video id </label>
                    <input type="text" name="videoid" id="videoIdInput">
                    <button type="submit"> Sumbit</button>
                </form>
                
            </div>
    
    
    
{{end}}
